.discover {
    margin: 80px 115px;
    &__items {
        display: flex;
        gap: 30px;
    }

    &__item {
        background: var(--bg-grey);
        border-radius: 20px;
        width: 330px;
        height: 480px;
    }

    &__text {
        color: var(--font-white);
        margin-left: 30px;
    }

    &__name {
        color: var(--font-white);
        margin-left: 30px;
    }
}



.discover__price-wrapp {
    display: flex;
    justify-content: space-around;
    .discover__price {
        justify-content: space-between;
    }
    
    .discover__price-text {
        color: var(--number-grey);
    }
    
    .discover__price-sum {
        color: var(--font-white);
    }
}


