@font-face {
  font-family: "WorkSans";
  src: url("../font/WorkSans.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SpaceMono-Bold";
  src: url("../font/SpaceMono-Bold.ttf");
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../font/SpaceMono-Regular.ttf");
}
