.footer {
  height: 335px;
  background: var(--bg-grey);

  &-box {
    width: 238px;
  }

  &-title {
    color: var(--font-white);
    font-size: 22px;
    display: flex;
    align-items: center;
    &::before {
      content: url(../img/icon/nft-logo.svg);
      width: 32px;
      margin-right: 12px;
    }
  }

  &-wrapp {
    display: flex;
    justify-content: space-around;
  }

  &-text,
  &-join-title {
    color: var(--text-light-grey);
  }

  &-join-social {
    display: flex;
    gap: 10px;
  }
}

.footer-title {
  &-exp {
    font-size: 22px;
    color: var(--font-white);
  }
  &-join {
    font-size: 22px;
    color: var(--font-white);
  }
}

.box-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-list {
    padding: 0;
}

.footer-list-item {
  list-style: none;
  color: var(--text-light-grey);
  margin-bottom: 20px;
}


li a {
  text-decoration: none;
}

.footer-link {
    color: var(--text-light-grey);
}

.title-w {
    width: 238px;
}

.footer-get-text {
    color: var(--text-light-grey);
}