:root {
  --font-white: #fff;
  --bg-color-violet: #a259ff;
  --bg-grey: #3b3b3b;
  --bg-dark-grey: #2b2b2b;
  --number-grey: #858584;
  --text-light-grey: #cccccc;
}

body {
  background: #2b2b2b;
  font-family: "WorkSans";
  overflow-x: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  color: var(--font-white);
}

.sub-title {
  color: var(--font-white);
  font-weight: 600;
  font-size: 22px;
}

.name {
  color: var(--font-white);
  font-weight: 400;
}
