.works {

    &-title {
    color: #fff;
    font-size: 38px;
    margin-left: 60px;
    }

    &-subtitle {
        color: #fff;
        font-size: 22px;
        margin-left: 60px;
    }

    &-wrapper {
        display: flex;
        gap: 30px;
        text-align: center;
        justify-content: center;
    }

    &-box {
        width: 330px;
        height: 439px;
        background-color: #3B3B3B;
    }

    &-text {
        color: #fff;
        font-size: 22px;
    }

    &-desc {
        color: #fff;
        font-size: 16px;
        padding: 0 30px;
    }
}

