.works {
    &-title{
    color: #fff;
    font-size: 38px;
    }
    &-subtitle {
        color: #fff;
        font-size: 22px;
    }
    &-wrapper {
        display: flex;
    }
    &-box {
        width: 330px;
        height: 439px;
        background-color: #3B3B3B;
    }
}

